---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../sections/Nav.astro";
import Footer from "../../sections/Footer.astro";
import Galeria from "../../components/Galeria.astro";
---

<Layout title="Galeria Ecoauto Tunja-Boyaca" description=" Galeria de cda ecoauto Tunja, aca encontraras imagenes de vehiculos a los cuales inspeccionamos y experiencias del mejor cda en la ciudad de tunja-boyaca" >
    <main class=" bg-slate-900 ">
        <Nav class=" relative mb-10" ></Nav>
        <section>
            <header class="w-full h-[50rem] flex flex-col ">
                <h1 class=" text-fuchsia-50 pt-12 m-auto text-9xl drop-shadow-2xl shadow-sky-700/10 items-center flex font-extrabold " >
                    GALERIA
                </h1>
            </header> 

            <h3 class=" m-auto items-center justify-center text-white drop-shadow-2xl flex py-10 w-full text-6xl font-normal">Esto es algo de <span class=" text-[#8ae6a6]" >  Nuestra sede</span></h3>
            <Galeria></Galeria>
        </section>

        <Footer ></Footer>
    </main>
</Layout>
<style>
    header{
        background-image: url(../../../public/imgs/cda.webp);
    }
</style>