---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../sections/Nav.astro";
import Footer from "../../sections/Footer.astro";
import Image from "astro/components/Image.astro";
import Whasap from "../../sections/whasap.astro";

import Cer from "../../../public/imgs/donwloadRtm.webp";
---

<Layout description="Descargar Certificado De Revision Tenicomecanica" title=" Cda Ecoauto te enseña como puedes decargar tu certificado de los resultados en la revision tecnicomecanicay emision de gases y contaminantes">
    <main class=" relative">
        <Nav class=" mb-10" ></Nav>
        
        <script>
           
			const mobilebtn = document.querySelector(".btn");
			const mobilmenu = document.querySelector("#menu");

			mobilebtn.addEventListener("click", () => {
				let show = document.querySelector(".show");

				if (show) {
					mobilmenu.classList.remove("show");
					mobilmenu.classList.add("menu");
				} else {
					mobilmenu.classList.add("show");
					mobilmenu.classList.remove("menu");
				}
			});
	
		</script>
        <Whasap></Whasap>
        <section class=" m-auto h-auto flex flex-col relative w-full  " >

            <header class="bg-black w-full mt-10 h-[30rem] flex flex-col  ">
                <h1 class=" text-fuchsia-50 pt-12 m-auto text-7xl items-center flex font-bold sm:text-6xl sm:text-center  " >
                    Consulta Certificado RTM
                </h1>
                <h3 class="m-auto -mt-32 text-4xl text-white sm:text-3xl" >Siempre compartimos contigo el mejor conocimiento</h3>
            </header> 

            <iframe class=" sm:w-[35rem] sm:h-[30rem] m-auto pt-14 " width="700" height="400" src="https://www.youtube.com/embed/b9aW-9XmqMk?si=oL56raPtG8ZzEBTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <section class="flex flex-col items-center m-auto content-center relative">

                <a target="_blank" no-refer href="https://www.runt.com.co/consultaCiudadana/#/consultaVehiculo" class=" flex relative my-24 px-80 mm:px-40 md:px-20 sm:px-10 xx:mx-5 h-[120rem] w-full lg:w-[120%] lg:h-[70rem] md:h-[50rem] md:w-[130%] sm:w-[140%] xx:h[40rem] xx:w-[170%] " >

                    <Image title="revision tecnicomecanica tunja cda ecoauto descargar certificado de revision tecnicomecanica" class=" w-full relative" src={Cer} alt="imagen de la descarga"></Image>
                </a>

                <a target="_blank" no-refer href="https://www.runt.com.co/consultaCiudadana/#/consultaVehiculo" class=" cursor-pointer inline-flex items-center rounded-3xl px-6 py-5 hover:scale-110 transition-transform m-auto bg-yellow-500 " >
        
                    Descargar Tu certificado
                    
                    
                </a>
            </section>


        </section>   
        <Footer></Footer>
 
    </main>
</Layout>