---
import Layout from '../layouts/Layout.astro';
import Whasap from '../sections/whasap.astro';
import Nav from '../sections/Nav.astro';
import Header from '../sections/Header.astro';
import Services from '../sections/Services.astro';
import Tarjet from '../sections/Tarjet.astro';
import Us from '../sections/Us.astro';
import Payments from '../sections/Payments.astro';
import Sponsors from '../sections/Sponsors.astro';
import Footer from '../sections/Footer.astro';
import NavMobile from '../components/NavMobile.astro';


---

<Layout title="CDA Ecoauto Tunja." description=' pagina oficial de Cda ecoauto en la ciudad de tunja es el mejor centro de diagnostico en tunja, certificando eficacia y productividad en la revision tecnicomecanica de vehiculos particulares, publicos y motocicletas ' >
	<main class=" relative">
		<Nav></Nav>
		<NavMobile class=" mm:flex" ></NavMobile>
		<Header></Header>
		<Whasap></Whasap>
		<Services ></Services>
		<Tarjet  ></Tarjet>
		<Us ></Us>
		<Payments></Payments>
		<Sponsors></Sponsors>
		<Footer></Footer>



	</main>

</Layout>


