---

import Layout from '../layouts/Layout.astro';
import Nav from '../sections/Nav.astro';
import Header from '../sections/Header.astro';
import Services from '../sections/Services.astro';
import Tarjet from '../sections/Tarjet.astro';
import Us from '../sections/Us.astro';
import Payments from '../sections/Payments.astro';


---

<Layout title="CDA Ecoauto.">
	<main class=" relative">

		<Nav></Nav>
		<Header></Header>
		<Services></Services>
		<Tarjet></Tarjet>
		<Us></Us>
		<Payments></Payments>
	</main>
</Layout>

