---
import Image from "astro/components/Image.astro";
import logue from "../../public/imgs/logo.jpg";


---

<section
    class=" fixed bg-white  z-10 h-auto w-full content-center flex  text-2xl"
>
    <div class=" grid_nav--fixer flex flex-row items-center content-around">
        <div
            id="container_img"
            class=" hover:scale-110  flex relative rounded-full overflow-hidden my-4 mx-8"
        >
            <Image class=" flex relative" src={logue} alt="Logo" />
        </div>
        <h2 class="text-nowrap text-2xl">El mejor servicio <span class=" font-bold text-green-950 " >Para Nuestros Clientes</span></h2>


        <ul class="nav_list">
            <li class="nav_item">
                <a class="nav_title" href="pages/index">Inicio</a>
            </li>

            <li class="nav_item">
                <span class="nav_title" 
                    >Servivios
                    <i class="fa-solid fa-chevron-down nav_icon"></i>
                </span>
                <ul class="nav_submenu">

                    <li class=" text-nowrap submenu_item">
                        <a
                            rel="noopener"
                            class="submenu_title"
                            href="/Services/Revision">Resivision Tecnicomecanica</a
                        >
                    </li>
                    
                    <li class=" text-nowrap submenu_item">
                        <a
                            rel="noopener"
                            class="submenu_title"
                            href="/Services/Prevents">Resivision Preventiva</a
                        >
                    </li>

                    <li class="submenu_item">
                        <a
                            rel="noopener"
                            class="submenu_title"
                            href="/Services/Donwload">Desacargar Certificado</a
                        >
                    </li>

                </ul>
            </li>

            <li class="nav_item">
                <span class="nav_title" 
                    >Nosotros
                    <i class="fa-solid fa-chevron-down nav_icon"></i>
                </span>
                <ul class="nav_submenu">

                    <li class=" my-2 text-nowrap submenu_item">
                        <a
                            rel="noopener"
                            class="submenu_title"
                            href="/Nosotros/Us">¿Quienes somos?</a
                        >
                    </li>
                    


                    <li class="submenu_item">
                        <a
                            rel="noopener"
                            class="submenu_title"
                            href="/Nosotros/Galery">Galeria</a
                        >
                    </li>

                </ul>
            </li>

            <li class="nav_item">
                <a class="nav_title" href="/Contact">Contacto</a>
            </li>
        </ul>
    </div>

    
</section>

<style>
    .grid_nav--fixer{   
        display: flex;
        position: relative;
        width: 100%; 
        box-shadow: 2px 2px 40px 9px rgba(0, 0, 0, 50%);
        transition: all 500ms ease-in-out;
        padding-left: 20px;
    }
    #container_img {
        box-shadow: 2px 1px 41px 9px #468a07;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        width: 6rem;
    }

    .nav_list {
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;
        padding-left: 42rem;
        margin-top: -4rem;
    }
    

    .nav_list {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: -4rem;
    }

    .nav_item {
        position: relative;
        margin: 0 2.4rem;
    }
    .nav.title {
        position: relative;
        display: inline-block;
        line-height: 6rem;
        font-weight: 500;
        transition: all 300ms ease-in-out;
    }

    .nav_icon {
        font-size: 1rem;
        font-weight: bold;
        padding-left: 0.2rem;
        vertical-align: middle;
    }

    .nav_title:hover {
        color: var(--color-principal);
    }

    .nav_title::before {
        position: absolute;
        content: "";
        height: 0.2rem;
        width: 0%;
        background-color: var(--color-principal);
        bottom: 0.2rem;
        left: 0;
        opacity: 0;
        transition: all 500ms liner;
    }

    .nav_title:hover::before {
        width: 100%;
        opacity: 1;
    }

    .nav_submenu {
        display: block;
        position: absolute;
        top: 100%;
        left: 2rem;
        min-width: 19rem;
        padding: 1.5rem 1rem;
        border-radius: 4px;
        background-color: var(--color-segundario);
        box-shadow: 0px 13px 48px 0 rgb(0, 0, 0, 15%);

        opacity: 1;
        visibility: hidden;
        transition: all 300ms ease-in-out;
    }
    .submenu_item {
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.1s ease-in-out;
    }

    .submenu_item:nth-child(1) {
        transition-delay: 100ms;
    }
    .submenu_item:nth-child(2) {
        transition-delay: 200ms;
    }

    .submenu_item:nth-child(3) {
        transition-delay: 300ms;
    }

    .submenu_item:nth-child(4) {
        transition-delay: 400ms;
    }

    .submenu_item:nth-child(5) {
        transition-delay: 500ms;
    }

    .submenu_item:nth-child(6) {
        transition-delay: 600ms;
    }
    .sub_menu_title {
        display: block;
        position: relative;
        font-size: 1.5rem;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 500;
        color: var(--color-text-body);
        padding: 0.7rem 1.5rem;
        transition: all 300ms ease-in-out;
    }

    .nav_item:hover > .nav_submenu {
        visibility: visible;
        opacity: 1;
        z-index: 999;
        left: 0;
        background: #fff
    }

    .nav_item:hover .submenu_item {
        opacity: 1;
        transform: translateX(0);
    }

    .submenu_title:hover {
        color: var(--color-principal);
    }

    .submenu_title::after {
        content: "";
        height: 0.1rem;
        width: 0;
        top: 50%;
        left: 0;
        background-color: var(--color-principal);
        position: absolute;
        transition: all 300ms ease-in-out;
    }

    .submenu_title:hover::after {
        width: 100%;
    }
</style>
