---
import Image from "astro/components/Image.astro"
import enigma from '../../public/imgs/enigma.jpg'
import taco from '../../public/imgs/tacologia.jpg'
import { any } from "astro/zod"

const SPONSORS =[
    {
        id: 'enigma',
        name: 'Enigma',
        url: 'https://www.instagram.com/rooftop.enigma/?hl=es'
    },
    {
        id: 'tacologia',
        name: 'Tacologia',
        url: 'https://www.instagram.com/tacologia_tunja/?hl=es'
    }
]
---


<section class="  ">
    <h1 class=" m-auto text-6xl text-amber-400 pt-10 font-bold text-center"> Nuestros aliados</h1>
    <div class=" w-10/12 m-auto p-32 grid grid-cols-2 gap-24">
        {
            SPONSORS.map(({ id, name, url}) => (
                <a target="_blank"  class="flex p-6 justify-center hover:scale-110 transition text-center h-80 bg-gradient-to-b from-black/30 via-transparent to-transparent " title={`Visita la web de nuestro aliado ${name}`} href={url}>
                    <img loading="lazy" 
                    class=" h-36 w-44 "
                    src={`../../public/imgs/${id}.jpg`} 
                    alt={`Logo de nuestro aliado ${name}`}/>  
                </a>

            ))
        }
    </div>

</section>

<style>
    section{

        transition: all ease-in-out;
        background: rgb(14, 61, 5);
        background: linear-gradient(90deg, rgba(12,67,1,1) 0%, rgba(24,126,24,1) 35%, rgba(17,44,49,1) 100%);
        
    }

</style>