---
import Wap from '../../public/imgs/whasappt.svg'
import Image from 'astro/components/Image.astro'
---


    <a 
        title="contacto cda ecoauto tunja"
        target="_blank"
        href="https://api.whatsapp.com/send?phone=573173333330&text=Hola%20CDA%20ECOAUTO%2C%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20de%20la%20revisi%C3%B3n%20t%C3%A9cnico%20mec%C3%A1nica%2C%20gracias%20%F0%9F%99%8F%F0%9F%8F%BC%20" class="fixxer w-24 fixed z-50 "  >
        <Image id='car' class=' w-full   ' title='contacto, numero telefonico cda ecoauto tunja' src={Wap} alt='logo de whasap'></Image>
    </a>

<style>
    .fixxer{
        width: 15rem;
        bottom: 20px;
        right: 0;
        filter: drop-shadow(12px 10px 3px #0d0e0d);
        cursor: pointer;
        padding: 1.5rem 4rem;
        transition: all 500ms ease-in-out;
    }
    .fixxer:hover{
        transform: scale(110%);
    }
</style>
