---
import { ViewTransitions } from "astro:transitions";
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang="es" lang={currentLocale}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
        <script is:inline>
            document.addEventListener("DOMContentLoaded", () => {
                const mobilebtn = document.querySelector(".btn");
                const mobilmenu = document.querySelector("#menu");

                mobilebtn.addEventListener("click", () => {
                    let show = document.querySelector(".show");

                    if (show) {
                        mobilmenu.classList.remove("show");
                        mobilmenu.classList.add("menu");
                    } else {
                        mobilmenu.classList.add("show");
                        mobilmenu.classList.remove("menu");
                    }
                });
            });
        </script>
    </body>
</html>

<style is:global>
    html {
        scroll-behavior: smooth;
        font-size: 10px;
        overflow-x: hidden;
        text-rendering: optimizeSpeed;
    }

    body {
        line-height: 1.5;
    }

    * {
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    *,
    *::after,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    ul,
    ol {
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }

    p a {
        display: inline;
    }

    form,
    input,
    select,
    textarea,
    button,
    label {
        display: block;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    body::-webkit-scrollbar {
        width: 10px;
        height: 5px;
        border: transparent;
        background-color: transparent;
        color: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background: #a4a4a4;
        border-radius: 4px;
    }

    body::-webkit-scrollbar-thumb:hover {
        background: #8f8f8f;
    }

    body::-webkit-scrollbar-thumb:active {
        background-color: #7b7b7b;
    }

    body::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

    body::-webkit-scrollbar-track:hover,
    body::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }
</style>
