---
import { ViewTransitions } from "astro:transitions";
interface Props {
    title: string;
    description: string;
}
import  SpeedInsights  from "@vercel/speed-insights/astro"

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang="es" lang={currentLocale}>
    <head>
        <meta charset="UTF-8" />
        <!-- Primary Meta Tags -->
        <title>CDA Ecoauto Tunja.</title>
        <meta name="title" content="CDA Ecoauto Tunja." />
        <meta
            name="description"
            content="Cda Ecoauto Tunja- Revision tecnicomecanica, Emision de gases y contaminantes"
            content="Centro de Diagnóstico Automotor CDA ECOAUTO, Empresa 100% Tunjana, reconocida como la mejor opción de servicio en el mercado de Revisión Tecnomecánica y de Emisiones Contaminantes, contribuyendo al mejoramiento del medio ambiente y a la disminución de accidentalidad."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="https://www.facebook.com/cdaecoautotunja/?locale=es_LA"
            content="https://cda-ecoauto-tunja.vercel.app/"
        />
        <meta property="Facebook Cda Ecoauto" content="CDA Ecoauto Tunja." />
        <meta
            property="Redes Sociales Cda Ecoauto Tunja"
            content="Cda Ecoauto Tunja- Revision tecnicomecanica, Emision de gases y contaminantes"
            content="pagina oficial de Cda ecoauto en la ciudad de tunja es el mejor centro de diagnostico en tunja, certificando eficacia y productividad en la revision tecnicomecanica de vehiculos particulares, publicos y motocicletas"
        />
        <meta
            property="Logo Cda Ecoauto Tunja"
            content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Fcdaecoautotunja%2F&psig=AOvVaw2Q1_D1zFXA4bwBP6KhRfGW&ust=1724335071910000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJCmqe6ehogDFQAAAAAdAAAAABAN"
        />

        <!-- Twitter -->
        <meta property="Instagram Cda Ecoauto Tunja" content="Cda Ecoauto Tunja" />
        <meta
            property="https://www.instagram.com/cda_ecoautotunja/"
            content="https://cda-ecoauto-tunja.vercel.app/"
        />
        <meta property="Instagram Cda Ecoauto" content="CDA Ecoauto Tunja." />
        <meta
            property="Contacto cda ecoauto tunja"
            content="Cda Ecoauto Tunja- Revision tecnicomecanica, Emision de gases y contaminantes"
            content="pagina oficial de Cda ecoauto en la ciudad de tunja es el mejor centro de diagnostico en tunja, certificando eficacia y productividad en la revision tecnicomecanica de vehiculos particulares, publicos y motocicletas"
        />
        <meta
            property="Revision Tecnicomecanica Tunja"
            content="https://www.instagram.com/cda_ecoautotunja/"
        />

        <!-- Meta Tags Generated with https://metatags.io -->
        <meta
            name="Cda Ecoauto Tunja- Revision tecnicomecanica, Emision de gases y contaminantes"
            content="pagina oficial de Cda ecoauto en la ciudad de tunja es el mejor centro de diagnostico en tunja, certificando eficacia y productividad en la revision tecnicomecanica de vehiculos particulares, publicos y motocicletas "
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.webp" />

        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <SpeedInsights />
        <slot />

        <script>
            document.addEventListener("astro:page-load", () => {
                const mobilebtn = document.querySelector(".btn");
                const mobilmenu = document.querySelector("#menu");

                mobilebtn?.addEventListener("click", () => {
                    mobilmenu.classList.toggle("hidden");
                });
            });
        </script>
    </body>
</html>

<style is:global>
    html {
        scroll-behavior: smooth;
        font-size: 10px;
        overflow-x: hidden;
        text-rendering: optimizeSpeed;
    }

    body {
        line-height: 1.5;
    }

    * {
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    *,
    *::after,
    *::after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
    }

    ul,
    ol {
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }

    p a {
        display: inline;
    }

    form,
    input,
    select,
    textarea,
    button,
    label {
        display: block;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
    }
    body::-webkit-scrollbar {
        width: 10px;
        height: 5px;
        border: transparent;
        background-color: transparent;
        color: transparent;
    }

    body::-webkit-scrollbar-thumb {
        background: #a4a4a4;
        border-radius: 4px;
    }

    body::-webkit-scrollbar-thumb:hover {
        background: #8f8f8f;
    }

    body::-webkit-scrollbar-thumb:active {
        background-color: #7b7b7b;
    }

    body::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

    body::-webkit-scrollbar-track:hover,
    body::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }
</style>
